body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    background-color: 'red';
}
#optionsContainer{
    font-family: Perpetua;
    width: 23vw;
    height: calc(100vh - 1vw);
    /* min-width: 25vw;
    max-width: 25vw; */
    min-height: calc(100vh - 1vw);
    max-height: calc(100vh - 1vw);
    float:left;
    background-color: rgb(246, 246, 246);/*very light grey*/
}
#optionsContainer{
    font-size: 0.7rem;
}
#optionsContainer > div{
    margin: 0.75vh 0
}
@media(min-width: 768px){
    #optionsContainer{
        font-size: 0.95rem;
    }
}
@media(min-width: 992px){
    #optionsContainer{
        font-size: 1.095rem;
    }
}
#main{
    float:right;
    width: 75vw;
    height: 100vh;
    border: 1px solid 'red';
}