#graphContainer{ /* #<ID> := document.getElementById(<ID>) -- style for this element*/
    width: 75vw; /* := 100% of max screen width */
    height: 100vh;
    overflow-y: scroll;
    overflow-x: scroll;
    min-width: 75vw;
    max-width: 75vw;
    min-height: 100vh; 
    max-height: 100vh;
    float:left; 
}
#optionsContainer{
    width: 25vw; 
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 25vw;
    max-width: 25vw;
    min-height: 100vh; 
    max-height: 100vh;
    float:right; 
}
body{
    height: 100vh;
    width: 100vw;
}